<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="../css/output.css" rel="stylesheet">
	<title>About Us</title>
</head>

<body class="bg-white">

<header class="bg-gray-200 shadow-md">
	<nav class="flex max-w-7xl mx-auto px-8 py-6 items-center justify-between" aria-label="Main Navigation">
		<h1 class="text-4xl font-light tracking-wide text-black">
			TOURIST GUIDE
		</h1>

		<ul class="flex space-x-8 text-lg text-red-700">
			<li><a th:href="@{/tourist/homepage}" class="hover:text-black transition duration-200">Home</a></li>
			<li><a th:href="@{/tourist/attractions}" class="hover:text-black transition duration-200">Attractions</a></li>
			<li><a href="about-us.html" class="hover:text-black transition duration-200">About Us</a></li>
		</ul>
	</nav>
</header>

<main class="max-w-7xl mx-auto px-8 py-12">
	<h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">The Boys Responsible:</h1>


	<ul class="space-y-4 max-w-xl mx-auto">
		<li class="flex items-center bg-white rounded-lg hover:shadow-xl p-4">
			<img
					src="../../resources/static/css/images/raxos.png"
					alt="Robert's image"
					class="w-16 h-16 rounded-full object-cover mr-4"
			/>
			<div>
				<div class="font-semibold text-gray-700">Robert</div>
				<div class="text-gray-500 text-sm">R4X05Z3R0</div>
				<a href="https://github.com/R4X05Z3R0"
				   class="bg-purple-900 text-shadow-white px-4 py-2 rounded
				   hover:bg-purple-950 hover:shadow-md transition text-sm">Github Profile</a>
			</div>
		</li>

		<li class="flex items-center bg-white rounded-lg shadow p-4">
			<img
					src="../../resources/static/css/images/raxos.png"
					alt="Joakim's Image"
					class="w-16 h-16 rounded-full object-cover mr-4"
			/>
			<div>
				<div class="font-semibold text-gray-700">Joakim</div>
				<div class="text-gray-500 text-sm">Joakim-700</div>
				<a href="https://github.com/Joakim700"
				   class="bg-purple-900 text-shadow-white px-4 py-2 rounded
				   hover:bg-purple-950 hover:shadow-md transition text-sm">Github Profile</a>
			</div>
		</li>

		<li class="flex items-center bg-white rounded-lg shadow p-4">
			<img
					src="../../resources/static/css/images/raxos.png"
					alt="Emil's Image"
					class="w-16 h-16 rounded-full object-cover mr-4"
			/>
			<div>
				<div class="font-semibold text-gray-700">Emil</div>
				<div class="text-gray-500 text-sm">Mowgli-dk</div>
				<a href="https://github.com/Mowgli-dk"
				   class="bg-purple-900 text-shadow-white px-4 py-2 rounded
				   hover:bg-purple-950 hover:shadow-md transition text-sm">Github Profile</a>
			</div>
		</li>

		<li class="flex items-center bg-white rounded-lg shadow p-4">
			<img
					src="../../resources/static/css/images/raxos.png"
					alt="Emil's Image"
					class="w-16 h-16 rounded-full object-cover mr-4"
			/>
			<div>
				<div class="font-semibold text-gray-700">Simon</div>
				<div class="text-gray-500 text-sm">Mowgli-dk</div>
				<a href="https://github.com/Mowgli-dk"
				   class="bg-purple-900 text-shadow-white px-4 py-2 rounded
				   hover:bg-purple-950 hover:shadow-md transition text-sm">Github Profile</a>
			</div>
		</li>
	</ul>











<!--	<div class="flex flex-col gap-2 p-8 sm:flex-row sm:items-center sm:gap-6 sm:py-4 ...">-->
<!--		<div class="member-card">-->
<!--			<img-->
<!--					src="../../resources/static/css/images/raxos.png"-->
<!--					alt="Robert's image"-->
<!--					class="mx-auto block h-24 rounded-full sm:mx:0 sm:shrink-0"-->
<!--			/>-->
<!--			<div class="member-name">Robert</div>-->
<!--			<div class="member-username">R4X0SZ3R0</div>-->
<!--			<a href="https://github.com/R4X05Z3R0">Github Profile</a>-->
<!--		</div>-->

<!--		<div class="member-card">-->
<!--			<div class="member-name">Joakim</div>-->
<!--			<div class="member-username">Joakim700</div>-->
<!--			<a href="https://github.com/Joakim700">Github Profile</a>-->
<!--		</div>-->

<!--		<div class="member-card">-->
<!--			<div class="member-name">Emil</div>-->
<!--			<div class="member-username">Mowgli-dk</div>-->
<!--			<a href="https://github.com/Mowgli-dk">Github Profile</a>-->
<!--		</div>-->

	</div>

</main>

</body>
</html>