<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/output.css}">
	<title>The Team</title>
</head>

<div th:replace="~{fragments/header :: header}"></div>

<main class="max-w-7xl mx-auto px-8 py-12">
	<h1 class=" grid text-4xl font-bold text-gray-800 mb-10 text-center">The Boys</h1>

	<ul class="space-y-6 max-w-4xl mx-auto">
		<!-- Robert -->
		<li class="flex items-center bg-white rounded-xl hover:shadow-xl shadow-sm transition p-7">
			<img th:src="@{/images/raxos.png}"
			     class="h-41 w-41 object-cover rounded-full border border-gray-500 mr-7"
			     alt="Robert's image"
			      />
			<div>
				<div class="font-semibold text-gray-700 text-lg">Robert</div>
				<div class="text-gray-500 text-sm mb-2">R4X05Z3R0</div>
				<a href="https://github.com/R4X05Z3R0"  target="_blank" class="bg-purple-900 text-white px-4 py-2 rounded-full hover:bg-purple-950 transition shadow-sm text-sm">
					GitHub Profile
				</a>
			</div>
		</li>

		<!-- Joakim -->
		<li class="flex items-center bg-white rounded-xl shadow-sm hover:shadow-xl transition p-6">
			<img th:src="@{/images/joakim.jpg}"
			     alt="Joakim's image"
			     class="h-41 w-41 object-cover rounded-full border border-gray-500 mr-7"/>
			<div>
				<div class="font-semibold text-gray-700 text-lg">Joakim</div>
				<div class="text-gray-500 text-sm mb-2">Joakim-700</div>
				<a href="https://github.com/Joakim700"
				   class="bg-purple-900 text-white px-4 py-2 rounded-full hover:bg-purple-950 transition shadow-sm text-sm">GitHub Profile</a>
			</div>
		</li>

		<!-- Emil -->
		<li class="flex items-center bg-white rounded-xl shadow-sm hover:shadow-xl transition p-6">
			<img th:src="@{/images/emil.jpg}"
			     alt="Emil's image"
			     class="h-41 w-41 object-cover rounded-full border border-gray-500 mr-7"/>
			<div>
				<div class="font-semibold text-gray-700 text-lg">Emil</div>
				<div class="text-gray-500 text-sm mb-2">Mowgli-dk</div>
				<a href="https://github.com/Mowgli-dk"
				   class="bg-purple-900 text-white px-4 py-2 rounded-full hover:bg-purple-950 transition shadow-sm text-sm">GitHub Profile</a>
			</div>
		</li>

		<!-- Simon -->
		<li class="flex items-center bg-white rounded-xl shadow-sm hover:shadow-xl transition p-6">
			<img th:src="@{/images/simon.jpg}"
			     alt="Simon's image"
			     class="h-41 w-41 object-cover rounded-full border border-gray-500 mr-7"/>
			<div>
				<div class="font-semibold text-gray-700 text-lg">Simon</div>
				<div class="text-gray-500 text-sm mb-2">SimonBeCh</div>
				<a href="https://github.com/SimonBeCh"
				   class="bg-purple-900 text-white px-4 py-2 rounded-full hover:bg-purple-950 transition shadow-sm text-sm">GitHub Profile</a>
			</div>
		</li>
	</ul>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>