<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new attraction:</title>
</head>
<body>
<form action="#" th:action="@{/touristguide/save}" th:object="${attraction}" method="post">
    <label>Name</label>
    <input type="text" th:field="*{name}">
    <br>
    <label>Description</label>
    <input type="text" th:field="*{description}">
    <br>
    <label>City</label>
    <input type="text" th:field="*{city}">
    <br>
    <label>Tags</label>
    <select th:field="*{tags}">
        <option th:each="TouristTags : ${tags}" th:value="${TouristTags}" th:text="${TouristTags}"></option>
    </select>
    <br>
    <button type="submit">Register</button>
    </form>


</body>
</html>