<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new attraction:</title>
</head>
<body>
<form action="#" th:action="@{/touristguide/save}" th:object="${attraction}" method="post">
    <label>Name</label>
    <input type="text" th:field="*{name}">
    <br>
    <label>Description</label>
    <input type="text" th:field="*{description}">
    <br>
    <label>City</label>
    <input type="text" th:field="*{city}">
    <br>
    <label><strong>Tags:</strong></label>
    <div class="tag-container">
        <div th:each="tag : ${tags}" class="tag-item">
            <input type="checkbox"
                   th:field="*{tags}"
                   th:value="${tag}"
                   th:id="${'tag-' + tag}"/>
            <label th:for="${'tag-' + tag}" th:text="${tag}"></label>
        </div>
    </div>
    <button type="submit">Register</button>
</form>


</body>
</html>