<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/output.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="${attraction.getName()}">Attraction Name</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 50px;
        }

        h1 {
            font-size: 28px;
            font-weight: bold;
        }

        table {
            border-collapse: collapse;
            width: 80%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
            font-size: 18px;
        }

        th {
            font-weight: bold;
        }
    </style>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>By</th>
	    <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${attraction.getName()}"></td>
        <td th:text="${attraction.getDescription()}"></td>
        <td th:text="${attraction.getCity()}"></td>
<!--        <td>-->
<!--            <a th:href="@{/touristguide/attractions/{name}/tags(name=${attraction.getName()})}"-->
<!--               th:text="${#strings.replace(#strings.replace(attraction.getTags().toString(), '[', ''), ']', '')}">-->
<!--            </a>-->
<!--        </td>-->

	    <td>
		    <!--Edit-->
		    <a>
		    <button type="button">Edit</button>
		    </a>
		    <!--Edit-->
		    <a>
			    <button type="button">Update</button>
		    </a>

			<!--Tags-->
		    <a th:href="@{/touristguide/attractions/{name}/tags(name=${attraction.getName()})}"
		       style="display: inline-block">
		       <button type="button">Tags</button>
		    </a>

			<!--Delete-->
		    <form th:action="@{/touristguide/attractions/delete/{name}(name=${attraction.getName()})}"
		          th:method="post"
		          style="display: inline-block">
			    <button type="submit">Delete</button>
		    </form>
	    </td>
    </tr>
    </tbody>
</table>

</body>
</html>