<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Tourist Guide</title>
</head>
<body>

<header>

<!--Universal Nav-->
    <nav class="navigation-bar">
            <h1 class="company-name">Tourist Guide</h1>
        <ul>
            <li><a href="attractions.html" class="nav-btn">Show Attractions</a></li>
            <li><a href="#" class="nav-btn">Favourites</a></li>
            <li><a href="#" class="nav-btn">About Us</a></li>
        </ul>
    </nav>

</header>



<!--Universal Footer-->
<footer>



</footer>

</body>
</html>