<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit: ' + ${attraction.getName()}">Editing Attraction</title>
    <link href="../css/output.css" rel="stylesheet">
</head>
<body>

<h1 th:text="'Editing - ' + ${attraction.getName()}">Attraction Name</h1>

<form th:action="@{/touristguide/attractions/update}" th:object="${attraction}"
      method="post">
		<!--Name-->
	<label for="name">Name</label>
	<input type="text" id="name" th:field="*{name}"/>
	<br>
		<!--Description-->
	<label for="description">Description</label>
	<textarea id="description" th:field="*{description}" />
	<br>
		<!--City-->
	<label for="city">City</label>
	<input type="text" id="city" th:field="*{city}">
	<br>
		<!--Tags-->
	<label>Tags:</label>
	<div th:each="tag : ${allTags}">
		<label>
			<input type="checkbox"
			       th:value="${tag}"
			       th:field="${allTags}"
			       th:id ="${'tag - ' + tag}"
			       th:checked="${attraction.tags.contains(tag)}"
			/>
			<span th:text="${tag}">Tag Name</span>
		</label>
	</div>
	<!--Submit. I need these comments to understand and remember fr.-->
	<button type="submit">Save Changes</button>
</form>

<!--Return to Attraction-->
<p><a th:href="@{/touristguide/attractions}">← Back to Attractions</a></p>
</body>
</html>
